force-app/main/default/flows/Lead_Record_Type_Choice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Choose_Lead_Type</name>
        <label>Choose Lead Type</label>
        <locationX>772</locationX>
        <locationY>433</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Premises</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Of_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Premises</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordTypeId_B2B</targetReference>
            </connector>
            <label>Business Premises?</label>
        </rules>
        <rules>
            <name>Apartments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Of_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apartments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordTypeId_B2C</targetReference>
            </connector>
            <label>Apartments?</label>
        </rules>
    </decisions>
    <description>Choosing record type (B2B/B2C) based od product interest (Business Premises/Apartments)</description>
    <interviewLabel>Lead Record Type Choice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Record Type Choice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RecordTypeId_B2B</name>
        <label>Get RecordTypeId B2B</label>
        <locationX>1020</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_to_B2B</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2B</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>B2B_RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeId_B2C</name>
        <label>Get RecordTypeId B2C</label>
        <locationX>524</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_to_B2C</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B2C</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>B2C_RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_to_B2B</name>
        <label>Update to B2B</label>
        <locationX>1021</locationX>
        <locationY>657</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>B2B_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_B2C</name>
        <label>Update to B2C</label>
        <locationX>522</locationX>
        <locationY>654</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>B2C_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>653</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Choose_Lead_Type</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>RecordTypeId for B2B</description>
        <name>B2B_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>RecordTypeId for B2C</description>
        <name>B2C_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
